/*!
 * Author: Nabil Enayet October 2015
 */
body { overflow:hidden; }
  .header > h3 {margin:0; font-weight:200;}
  .header {
    padding:10px;
  }
  .header {
    box-shadow: 0 0 10px grey;
  }
 	h5 {text-align:center;}
 	input {text-align:center;}
 	svg {
    width:100%;
    height:calc(100vh - 300px);
    max-width:calc(95vw);
    left:0;
    right:0;
    position:absolute;
    margin:auto;
    z-index:1;
  }
 	.search {
     text-align: center;
     margin: auto;
     left: 0;
     right: 0;
     position: absolute;
     width: 200px;
 	}
 	.gradient-boxes {width:25px;height:25px;display:inline-block; }
 	#network-container {
    // margin-top: 50px;
 	}
 	.hover-message {
     visibility:hidden;
     position: absolute;
     background-color: whitesmoke;
     top: 20px;
     left: 0;
     right: 0;
     width: 50vw;
     margin: auto;
     padding: 20px;
     border-radius: 10px;
     z-index: 1000;
     font-size: 1.2em;
 	}
  .hover-message.animated {
    visibility:visible;
  }

  li.disabled > span {
    color: gainsboro;
  }
  .select-wrapper {
    transform: translateY(-5px);
    z-index:100;
  }

  .color-scale {
    position: absolute;
    top: 171px;
    left: 0;
    margin: auto;
    width:29px;
    //border: solid 2px black;
    pointer-events: none;
    margin: auto;
    z-index:-1;
  }

  .color-scale div {
    height: calc((100vh - 171px) / 50);
    //display:inline-block;
    transition: 0.2s all cubic-bezier(0.68, -0.55, 0.27, 1.55);
    pointer-events:none;
  }

  svg:not(:root) {
      overflow: visible;
  }

  path[id*=path] {
    pointer-events: none;
  }

  .hero-img {
    opacity: 0.3;
    position: absolute;
    bottom: 0;
    //right: 5vw;
    z-index: -1;
    max-height:70vh;
    max-width:300px;
    transition: all 0.4s ease-in-out;
  }

  div.question {
      display: inline-block;
      cursor:pointer;
      margin-left:20px;
      opacity:0.7;
      transform:translateY(-3px);
      transition:opacity 0.4s ease-in-out;
      animation-delay:2s;
  }
  div.question:hover {
    opacity:1;
    transition:opacity 0.4s ease-in-out;
  }
  div.question > i {
      background-color: white;
      height: 30px;
      width: 30px;
      padding: 3px;
      border-radius: 5px;
  }
  .history-container {
    position: absolute;
    top: 230px;
    right:0;
    z-index:5;
  }
  .history-item {
    padding: 10px;
    margin: 10px;
    max-width:10vw;
    border-radius: 10px;
    cursor: pointer;
    opacity:.6;
    transition:all 0.2s ease-in-out;
  }
  .history-item > span > i {
    font-size: 1em;
    transform: translateY(2px);
    margin-right: 3px;
  }
  .history-item:hover {
    opacity:1;
    transition:all 0.2s ease-in-out;
  }
  div.footer {
    position:fixed;
    width:100%;
    height:auto;
    background-color:#388E3C;
    color:white!important;
    bottom:0;
    text-align: center;
  }
  div.footer > a {
    color:white;
    font-weight: 200;
  }
  div.footer > a > span {
    color:white;
    font-weight: 400;
  }

  .comparison-container {
    height: calc(100vh - 85px);
  }

  .smallerImg {
    max-height:200px;
  }

.introjs-helperNumberLayer {display:none;}

  .autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
  .autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
  .autocomplete-selected { background: #F0F0F0; }
  .autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
  .autocomplete-group { padding: 2px 5px; }
  .autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
